

.habit-post {
  background-color: $white;
  border-radius: 1rem;
	margin: 1rem 2rem;
	padding: 1rem 2rem;
	width: 100%;
	.add-habit-button {
		background-color: $green;
		color: white;
		font-size: 1rem;
		padding: 1rem 2rem;
		margin-top: 1rem;
		border: none;
		cursor: pointer;
		text-decoration: none;
		border-radius: 1rem;
		transition: background-color 0.7s;
		&:hover {
			background-color: darken($green, 10%);
		}
	}

	.habit-post-wrapper {
		display: flex;
		flex-direction: row;
		margin: 1rem 0;
		align-items: center;
		label{
			margin-right: 1rem;
			width: 15vw;
		}
		input{
			width: 100%;
			padding: 1rem 1rem;
			border: 1px solid darken($white, 5%);
			border-radius: 1rem;
		}
	}

	.button {
		background-color: $green;
		color: $white;
		padding: 1rem 2rem;
		margin: 1rem 0.5rem;
		border: none;
		cursor: pointer;
		border-radius: 1rem;
		transition: background-color 0.3s;
		&:hover {
			background-color: darken($green, 10%);
		}
		&.cancel {
			background-color: $red;
			&:hover {
				background-color: darken($red, 10%);
			}
		}
	}

}

.wrapper3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	select {
		width: 50%;
		padding: 1rem 1rem;
		text-align: center;
		border-radius: 1rem;
	}
}
