.navbar {
	background-color: $darkgreen;
	color: $white;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 1rem 2rem;
	a{
		text-decoration: none;
		color: $white;
	}

	.logo {
		font-size: 2rem;
		font-weight: 700;
		text-decoration: none;
		color: $lightgreen;
		margin-right: 2rem;
	}
	ul {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
		li{
			margin-right: 2rem;
			border: 1px solid $white;
			width: 7rem;
			padding: 0.5rem 0;
			border-radius: 1rem;
			background-color: $orange;
			text-align: center;
			transition: background-color 0.7s;
			&:hover {
				background-color: $lightgreen;
			}
			a {
				text-decoration: none;
			}
		}
	}

	.reg-buttons {
		display: flex;
		a {
			margin-right: 1rem;
			transition: color 0.7s ease;
			&:hover {
				color: $darkgreen;
			}
		}
	}
}